/*
*CSS for main page
*
*/


nav{
  font-family: 'Merriweather';
}
body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    
  }


.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../media/north_van.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #999;
    
}

  h1{
    font-family: 'Merriweather';
  }

  .vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }