/*
*CSS for main page
*
*/

html{
    height:100%
}


body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: 'Source Sans Pro';
    font-weight: 300;

    background-image: url("media/north_van.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
  }

  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}


.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    z-index: 2;
  }

.masthead .masthead-bg{
    position: absolute;
    background-color: rgba(46, 49, 49, 1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    height: 100%;
    transform: skewY(4deg);
    transform-origin: bottom right;
    opacity: 0.5;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*
    *background-color: #57a8cd;
    */
    opacity: 0.1;
    z-index: 1;
  }